<!DOCTYPE html>
{%extends "personal/base.html"%}
{%load staticfiles%}

{% block content%}
<div class="separation">
    <div class="container">
        <div class="section">
            <div class="row center">
                <h3 class="header col s12 light">About Me</h3>
            </div>
        </div>
        <div class="section">
            <div class="row">
                <div class="valign-wrapper col l5">
                    <img class="aboutme_profile" src="{%static 'personal/materialize/img/aboutme/manuel.jpg'%}" alt="profile"/>
                </div>
                <p class="col l3">
                    Manuel is a developer who moved to Canada from the Philippines in 2018.
                </p>
            </div>
        </div>
    </div>
</div>
	<div class="separation">
		<div class="container">
			<div class="section">
				<h5 class="header">Education</h5>
			</div>
			<div class="section">
				<ul class="collection">
					<li class="collection-item">
						<span class="title">Bachelor of Science in Computer Science <span class="secondary-content">May 2015</span></span>
						<p>Saint Louis University, Philippines</p>
					</li>
					<li class="collection-item">
						<span class="title">Computer Systems Servicing <span class="secondary-content">March 2018</span></span>
						<p>Informatics Institute, Philippines</p>
					</li>
				</ul>
			</div>
			<div class="section">
				<ul class="collection">
					<li class="collection-item">
						<span class="title">Freedom of Information And Protection of Privacy <span class="secondary-content">April 2018</span></span>
						<p>Government of Alberta, Canada</p>
					</li>
					<li class="collection-item">
						<span class="title">National Certificate II in Computer Systems Servicing <span class="secondary-content">March 2018</span></span>
						<p>Technical Education Skills And Development Authority, Philippines</p>
					</li>
					<li class="collection-item">
						<span class="title">Career Service Professional Eligible<span class="secondary-content">April 2017</span></span>
						<p>Civil Service Commission, Philippines</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="separation">
		<div class="container">
			<div class="section">
				<h5 class="header">Hobies</h5>
			</div>
			<div class="section">
				<h6>Music</h6>
				<p>I've been part of the university orchestra</p>
			</div>
			<div class="section">
				<h6>Books</h6>
				<p>I've been interested in pop-psychology</p>
                                <ul class="collection">
                                    <li class="collection-item"><a target="_blank"  href="https://www.amazon.ca/gp/product/0316346624/ref=as_li_tl?ie=UTF8&camp=15121&creative=330641&creativeASIN=0316346624&linkCode=as2&tag=mypersonal063-20&linkId=a0b4600cd3f68a50434ce7ace18c2842"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=CA&ASIN=0316346624&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=mypersonal063-20" ></a><img src="//ir-ca.amazon-adsystem.com/e/ir?t=mypersonal063-20&l=am2&o=15&a=0316346624" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                                </ul>

			</div>
			<div class="section">
				<h6>Games</h6>
				<p>Mobile Games</p>
			</div>
		</div>
	</div>
	<div class="separation">
		<div class="container">
			<div class="section">
				<h5 class="header">Resume</h5>
			</div>
			<div class="section">
				<a href="#">Download PDF</a><br>
			</div>
		</div>
	</div>
{%endblock%}
