<!DOCTYPE html>
{%extends "personal/base.html"%}
{%load staticfiles%}

{% block content%}
<div class="separation row">
    <div class="aboutme_header z-depth-0">
        <div id="img-header">
            <img src="{%static 'personal/materialize/img/aboutme/profile_banner.jpg'%}" alt="Unsplashed background img 2">
            <div class="container">
                <h5 class="header col s12">HELLO, <br> I'M <br><br> <span class="profile_name">MANUEL LOUIE</span></h5>
            </div>
        </div>
        
    </div>
</div>
<div class="separation">
    <div class="container">
        <div class="section">
            <div class="row center">
                <h3 class="header col s12 light">About Me</h3>
            </div>
        </div>
        <div class="section">
            <div class="row">
                <div class="valign-wrapper col l5">
                    <div class="aboutme_profile">
                        <img src="{%static ''%}{{aboutMe.personalImg}}"/>
                    </div>
                </div>
                <p class="col l3">
                    {{aboutMe.personalDescription}}
                </p>
            </div>
        </div>
    </div>
</div>
<div class="separation">
    <div class="container">
        <div class="section">
          <!--   Icon Section   -->
            <div class="row">
              <div class="col s12 m6">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">school</i></h2>
                    <h5 class="center">Education</h5>
                    <div>
                        <ul class="collection light">
                            {%for educ in education%}
                                <li class="collection-item">
                                    <span class="title">{{educ.title}} 
                                        <span class="secondary-content">{{educ.startDate}} - {{educ.endDate}}</span>
                                    </span>
                                    <i>{{educ.institution}}</i>
                                </li>
                            {%endfor%}
                        </ul>
                    </div>
                </div>
              </div>

                <div class="col s12 m6">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">work</i></h2>
                        <h5 class="center">Work Experience</h5>
                        <div>
                            <ul class="collection light">
                                {%for work in workExperience%}
                                    <li class="collection-item">
                                        <span class="title">{{work.title}} 
                                            <span class="secondary-content">{{work.startDate}} - {{work.endDate}}</span>
                                        </span>
                                        <i>{{work.institution}}</i>
                                    </li>
                                {%endfor%}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="separation">
    <div class="container">
        <div class="section">
            <div class="valign-wrapper row">
                <p class="col l6">
                    {{aboutMe.hobbyDescription}}
                </p>
                <div class="aboutme_profile">
                    <img src="{%static ''%}{{aboutMe.hobbyImg}}" alt="Flute"/>
                </div>
            </div>
        </div>
        <div class="section">
            <p>
                Books are also a big part of my personal development. 
                Here are some of my favorite books that got me into reading.
            </p>
                <ul class="carousel">
                    {% for book in book%}
                    <li class="carousel-item">
                        {% autoescape off%} {{book.link}} {%endautoescape%}
                    </li>
                    {%endfor%}
                </ul>
            <div class="row center">
                <a href="#" class="waves-effect waves-light btn-large #ffccbc deep-orange lighten-4">Check Out Other Books I Read</a>
            </div>
        </div>
    </div>  
</div>
<div class="container">
        <div class="section">
                <h5 class="header">Resume</h5>
        </div>
        <div class="section">
                <a href="#">Download PDF</a><br>
        </div>
</div>
{%endblock%}
