<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
{%load staticfiles%}
<html>
    <head>
        <title>Manuel Louie Gayao</title>
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" media="screen,projection" href="{% static 'personal/materialize/css/materialize.css'%}"/>
        <link rel="stylesheet" type="text/css"  href="{% static 'personal/materialize/css/styles.css'%}"/>
    </head>
    <body>
        {%block sidebar%}
        <nav role="navigation">
            <div class="nav-wrapper container">
                <ul class="left hide-on-med-and-down">
                    <li><a href="{%url 'index'%}">Home</a></li>
                    <li><a href="{%url 'projects'%}">Projects</a></li>
                    <li><a href="{%url 'blogs'%}">Blog</a></li>
                    <li><a href="{%url 'aboutme'%}">About Me</a></li>
                </ul>
                <ul id="nav-mobile" class="sidenav">
                    <li>
                        <div class="user-view">
                            <span class="black-text name">Manuel Louie</span>
                            <span class="black-text email">manuel.gayao@outlook.com</span>
                        </div>
                    </li>
                    <li><a href="{%url 'index'%}">Home</a></li>
                    <li><a href="{%url 'projects'%}">Projects</a></li>
                    <li><a href="{%url 'blogs'%}">Blog</a></li>
                    <li><a href="{%url 'aboutme'%}">About Me</a></li>
                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger">
                    <i class="material-icons">menu</i>
                </a>
            </div>
        </nav>
        {%endblock%}
        {%block content%}{%endblock%}
        {%block footer%}
            <footer class="page-footer">
                <div class="container">
                    <div class="row">
                        <div class="col l10 s12">
                            <h5 class="white-text">Contact Me</h5>
                            <form id="contact_form" action="{%url 'contact'%}" method="POST">
                                {%csrf_token%}
                                <div class="row">
                                    <div class="input-field">
                                        <input id="email" type="email" class="validate" name="email">
                                        <!--{{form.email}}-->
                                        <label for="email">Email</label>
                                    </div>
                                    <div class="input-field">
                                        <textarea id="message" class="materialize-textarea" name="message"></textarea>
                                        <!--{{form.message}}-->
                                        <label for="message">Message</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <button class="btn waves-effect waves-light #ffccbc deep-orange lighten-2" type="submit" name="action">Submit
                                        <i class="material-icons right">send</i>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="col l2 s12">
                            <h5>Connect</h5>
                            <ul>
                                <li><a href="https://www.linkedin.com/in/manuel-1ouie/">LinkedIn</a></li>
                                <li><a class="white-text" href="#!"><i class="fa fa-facebook">Facebook</i></a></li>
                                <li><a class="white-text" href="https://www.instagram.com/manuelgayao">Instagram</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        {%endblock%}
        
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{% static 'personal/materialize/js/materialize.js'%}"></script>
        <script src="{% static 'personal/materialize/js/init.js' %}"></script>
    </body>
</html>
