
{%extends "personal/base.html"%}
{%load static%}

{%block content%}
   
        <div class="container">
            <div class="row">
 
                    <h5 class="white-text">Contact Me</h5>
                    <form id="contact_form" action="{%url 'contact'%}" method="POST">
                        {%csrf_token%}
                        <div class="row">
                            <div class="input-field">
                                <input id="email" type="email" class="validate" name="email">
                                <!--{{form.email}}-->
                                <label for="email">Email</label>
                            </div>
                            <div class="input-field">
                                <textarea id="message" class="materialize-textarea" name="message"></textarea>
                                <!--{{form.message}}-->
                                <label for="message">Message</label>
                            </div>
                        </div>
                        <div class="row">
                            <button class="btn waves-effect waves-light #ffccbc deep-orange lighten-2" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </form>
            </div>
        </div>

{%endblock%}