
{%extends "personal/base.html"%}
{%load static%}

{%block content%}
        <div class="separation">
            <div id="index-banner">
                <div class="section no-pad-bot">
                    <div class="container">
                        <div class="header center">
                            <img src="{%static 'personal/materialize/img/img1.JPG'%}" alt="Profile Picture" id="profile-pic" class="circle responsive-img"/>
                        </div>
                        <div class="row center">
                            <h5>{{profile.name}}</h5>
                            <p>{{profile.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="separation">
            <div class="container">
                <div class="section">
                    <div class="container">
                        <div class="row center">
                            <h3 class="header col s12 light">Projects</h3>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <div class="row">
                        {% for project in projects %}
                        <div class="col l6 s12">
                            <div class="project-img-container">
                                <a href="{%url 'project_items' project.id%}">
                                    <div class="section no-pad-bot z-depth-2 valign-wrapper teal lighten-3">
                                        <h5 class="header col s12 l12 m12 ">{{project.title}}</h5>
                                    </div>
                                </a>
                                    <img src="{% static '' %}{{project.thumbnail_url}}" alt="Unsplashed background img 1">
                            </div>
                        </div>
                        {%endfor%}
                    </div>
                    <div class="row center">
                        <a href="{%url 'projects'%}" class="waves-effect waves-light btn-large #ffccbc deep-orange lighten-4">SEE MORE</a>
                    </div>
                </div>
            </div>
        </div>
    <div class="separation">
        <div class="container">
            <div class="section">
                <div class="container">
                    <div class="row center">
                        <h3 class="header col s12 light">My Latest Blog</h3>
                    </div>
                </div>
            </div>
            <div class="col l12 s12">
                <ul class="collection">
                    {% for blog in blogs %}
                    <li class="collection-item ">
                        <span class="title"> {{blog.title}}
                            <a href="#!" class="secondary-content">
                                <i class="material-icons">send</i>
                            </a>
                        </span>
                        <p>{{blog.publishDate}}<br>{{blog.content}}</p>
                    </li>
                    {%endfor%}
                </ul>
            </div>
        </div>
    </div>
        <div class="separation">
            <div class="container center col l12 s12">
                <div class="section">
                    <div class="container">
                        <div class="row center">
                            <h3 class="header col s12 light">Instagram Feed</h3>
                        </div>
                    </div>
                </div>
                <!-- SnapWidget -->
               <!-- SnapWidget -->
<script src="https://snapwidget.com/js/snapwidget.js"></script>
<iframe src="https://snapwidget.com/embed/544908" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>
            </div>
        </div>   
{%endblock%}