<!DOCTYPE html>
{%extends "personal/base.html"%}
{%load static from staticfiles%}

{%block content%}
        <div id="index-banner">
            <div class="section no-pad-bot">
                <div class="container">
                    <div class="header center">
                        <img src="{%static 'personal/materialize/img/img1.jpg'%}" alt="" id="profile-pic" class="circle responsive-img"/>
                    </div>
                    <div class="row center">
                       
                        {{title}}
                       
                        <h5>Manuel Louie Gayao</h5>
                        <p>A few fun facts about myself,
                            I love french press coffee, I have a cat named after MacGyver, my favorite number
                            is 22, I'm not a huge fan of IPAs, I play video games like it's my life, I knew what 
                            I wanted to do at the age of 13, I do downhill mountain biking, my favorite food is bacon,
                            and I broke my left arm twice.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="separation">
            <div class="container">
                <div class="section">
                    <div class="container">
                        <div class="row center">
                            <h3 class="header col s12 light">Projects</h3>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <div class="row">
                        {% for project in projects %}
                        <div class="col l6 s12">
                            <div class="project-img-container">
                                <a href="{%url 'project_items' project.id%}">
                                    <div class="section no-pad-bot z-depth-2 valign-wrapper teal lighten-3">
                                        <h5 class="header col s12 l12 m12 ">{{project.title}}</h5>
                                    </div>
                                </a>
                                    <img src="{% static '' %}{{project.thumbnail_url}}" alt="Unsplashed background img 1">
                            </div>
                        </div>
                        {%endfor%}
                    </div>
                    <div class="row center">
                        <a href="{%url 'projects'%}" class="waves-effect waves-light btn-large #ffccbc deep-orange lighten-4">SEE MORE</a>
                    </div>
                </div>
            </div>
        </div>
    <div class="separation">
        <div class="container">
            <div class="section">
                <div class="container">
                    <div class="row center">
                        <h3 class="header col s12 light">My Latest Blog</h3>
                    </div>
                </div>
            </div>
            <div class="col l12 s12">
                <ul class="collection">
                    {% for blog in blogs %}
                    <li class="collection-item ">
                        <span class="title"> {{blog.title}}
                            <a href="#!" class="secondary-content">
                                <i class="material-icons">send</i>
                            </a>
                        </span>
                        <p>{{blog.publishDate}}<br>{{blog.content}}</p>
                    </li>
                    {%endfor%}
                </ul>
            </div>
        </div>
    </div>
        <div class="separation">
            <div class="container center col l12 s12">
                <h3 class="center light">Instagram Feed</h3>
                <!-- SnapWidget -->
                <iframe src="https://snapwidget.com/embed/544908" class="snapwidget-widget col l12" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:650px; height:500px"></iframe>
            </div>
        </div>   
{%endblock%}