<!DOCTYPE html>
{%extends "personal/base.html"%}
{%load staticfiles%}

{% block content%}
<div class="row">
    <div class="section project-header col s12 l12">
        <h1 class="center">{{project.title}}</h1>
        <span class="center"><p>"{{project.description}}"</p></span>
    </div>
</div>
<div class="container ">
    
    <div class="project-img-container">
        <div class="img-div">
            <img src="{% static '' %}{{project.thumbnail_url}}"/><br>
        {%for img in imgs%}
            <div class="project_imgs">
                <img src="{% static '' %}{{img.img_url}}"/>
            </div>
        {%endfor%}
        </div>
    </div>
    <div class="row center">
        <a href="{%url 'projects'%}" class="waves-effect waves-light btn-large #ffccbc deep-orange lighten-2">Back to Projects</a>
    </div>
</div>
{%endblock%}