{% extends "personal/base.html"%}
{% load staticfiles%}
{%block content%}
    <div class="container">
        <div class="section">
            <div class="container">
                <div class="row center">
                    <h3 class="header col s12 light">Projects</h3>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="row">
                <div class="col l6 s12">
                    <div class="project-img-container">
                        <a><img src="{%static 'personal/materialize/img/project-img.jpg'%}" alt="Unsplashed background img 1"></a>
                    </div>
                </div>
                <div class="col l6 s12">
                    <div class="project-img-container"><a class="modal-trigger" href="#modal-project2"><img src="{%static 'personal/materialize/img/project-img.jpg'%}" alt="Unsplashed background img 1"></a></div>
                </div>
                <div class="col l6 s12">
                    <div class="project-img-container"><a class="modal-trigger" href="#modal-project1"><img src="{%static 'personal/materialize/img/background1.jpg'%}" alt="Unsplashed background img 1"></a></div>
                </div>
                <div class="col l6 s12">
                    <div class="project-img-container"><a class="modal-trigger" href="#modal-project2"><img src="{%static 'personal/materialize/img/project-img.jpg'%}" alt="Unsplashed background img 1"></a></div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}